/* header start */


/* header end */

/* main  start */

.difficulty .btn {
    cursor: pointer;
    transition: all 0.3s ease;
}

.difficulty .btn:hover {
    transform: scale(1.05);
}

/* main content */

.dsa-entry{
    transition: all 0.3s linear;
    /* margin-top: 20px; */
}

.dsa-entry:hover{
    box-shadow: 0px 0px 10px var(--accent);
    /* animation: card-bg 1s linear none infinite; */
}

html.light-theme .btn-close{
    filter: invert(0)
}

@keyframes card-bg {
    0%{
        box-shadow: 5px 0px 10px var(--accent);
    }
    25%{
        box-shadow: 0px 5px 10px var(--accent);
    }
    50%{
        box-shadow: -5px 0px 10px var(--accent);
    }
    75%{
        box-shadow: 0px -5px 10px var(--accent);
    }
    100%{
        box-shadow: 5px 0px 10px var(--accent);
    }
}

/* main content end */

/* main end */