/* header start */


/* header end */

/* main  start */

.difficulty .btn {
    cursor: pointer;
    transition: all 0.3s ease;
}

.difficulty .btn:hover {
    transform: scale(1.05);
}


/* main end */